<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Clock
    </ion-title>
    <ion-button
      slot="end"
      fill="clear"
      size="small"
      (click)="toggleDarkMode()"
      class="theme-toggle"
    >
      <ion-icon [name]="isDarkMode ? 'sunny' : 'moon'"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding clock-container" [style.background]="gradientStyle">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Clock</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="time-of-day-indicator">
    {{ timeOfDay }}
  </div>
  <div class="clocks-wrapper">
    <!-- Analog Clock -->
    <div class="clock-card analog-clock-card">
      <h2>Analog Clock</h2>
      <div class="analog-clock">
        <div class="clock-face">
          @for(i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]; track $index) {
            <div class="hour-mark"></div>
          }
          <div class="hand hour-hand" style="transform: {{ hourHandStyle }}"></div>
          <div class="hand minute-hand" style="transform: {{ minuteHandStyle }}"></div>
          <div class="hand second-hand" style="transform: {{ secondHandStyle }}"></div>
          <div class="clock-center"></div>
        </div>
      </div>
    </div>

    <!-- Digital Clock -->
    <div class="clock-card digital-clock-card">
      <h2>Digital Clock</h2>
      <div class="digital-clock">
        <div class="time-display">{{ timeString }}</div>
        <div class="date-display">{{ dateString }}</div>
      </div>
    </div>
  </div>
</ion-content>
